$bgColor: #ffffff;
$btnColor: #FD473A;;
$bigFont: "Clash Display";
$smFont: 'Satoshi';
$textColor: #222222;
$hdColor: #2e2e2e;


@import 'scss/breakpoint';
@import 'scss/menu';
@import 'scss/header';
@import 'scss/button';
@import 'scss/works';
@import 'scss/test';
@import 'scss/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $textColor;
    font-family: $smFont;
}

body {
    background-color: $bgColor;
    position: relative;
}

section, footer{
    padding: 0px 5em 5em 5em;
}

@media screen and (max-width: 990px) {
    section, footer{
        padding: 0px 1em 1em 1em;
    }
}
