footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 5em;

    div {
        margin-top: 5em;
    }

    .display-1{
        font-size: 3.500em;
        font-family: clash display;
        font-weight: 600;
        margin-bottom: .4em;
    }

    p a{
        text-decoration: none;
        font-size: 2em;
        font-weight: 600;
    }

    .social-links{

        a {
            text-decoration: none;
            font-size: 1.2em;
            font-weight: 600;
            margin-right: .4em;
        }
    }
}

footer::before {
    content: '';
    background-color: black;
    width: 88%;
    height: 5px;
    display: block;
    position: absolute;
    top: 0;
}

footer::after {
    content: '';
    background-color: black;
    width: 88%;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0em;
}


footer a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 425px) {
    footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        margin-bottom: 4em;
        flex-direction: column;
    
        div {
            margin-top: 1em;
        }
    
        .display-1{
            font-size: 3em;
            font-family: clash display;
            font-weight: 600;
            margin-bottom: .2em;
            color: $hdColor;
        }
    
        p a{
            // text-decoration: none;
            font-size: 2em;
            font-weight: 600;
            color: $textColor;
        }
        
        .social-links{
            width: 100%;
            margin-top: 2em;
            
            a {
                // text-decoration: none;
                font-size: 1em;
                font-weight: 600;
                color: $textColor;
                margin-right: 1em;
            }
        }
    }
    
    footer::before {
        content: '';
        background-color: black;
        width: 90%;
        height: 3px;
        display: block;
        position: absolute;
        top: 0;
    }
    
    footer::after {
        content: '';
        background-color: black;
        width: 90%;
        height: 3px;
        display: block;
        position: absolute;
        bottom: -2em;
    }
    
    
    footer a:hover {
        text-decoration: underline;
    }
}