// nav {
//     padding-left: 5em;
//     padding-right: 5em;
//     padding-top: 2em;
//     position: relative;

//     .appear{
//       display: flex;
//       justify-content: space-between;
//       align-items: center; 
      
//       li{
//           list-style: none;

//           a {
//               text-decoration: none;
//           }
//       }
//     } 
// }


// .menu {
//     width: 100%;
//     height: 100vh;
//     background-image: url("../grid.png");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-color: black;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     top: 20;
//     left: 0;
//     // z-index: 10;
//     // opacity: 0;
    
//     ul {
//         list-style: none;
//         width: 70%;
        
//         li {
//             margin-bottom: 2em;
            
//             a {
//                 font-family: $bigFont;
//                 color: #7b7b7b;
//                 text-decoration: none;
//                 font-size: 3.5em;

//                 &.active {
//                     color: $btnColor;
//                 }

//                 &:hover {
//                     color: $btnColor;
//                 }

//                 &:focus {
//                     color: $btnColor;
//                 }
//             }
//         }
//     }
// }


// .nav-active {
//     transform: translateX(0%);
//   }
  
//   @keyframes navLinkFade {
//     from {
//       opacity: 1;
//       transform: translateX(50px);
//     }
  
//     to {
//       opacity: 0;
//       transform: translateX(0px);
//     }
//   }



/* TOGGLE BUTTON */
.toggler {
	position: absolute;
	z-index: 99;
	top: 24px;
	right: 24px;
	appearance: none;
	outline: none; // => Not very Accessible
	margin: 0;
	border: none;
	background-color: transparent;
	font-size: 40px;
	text-shadow: 0 2px 8px rgba(0,0,0,0.32);
	cursor: pointer;
	transition: transform 200ms;
	will-change: transform;
	
	&:hover {
		transform: rotate(40deg);
		text-shadow: 0 0 16px rgba(0,0,0,0.24);
	}
	
	&--active {
		transform: rotate(360deg);
		
		&:hover {
			transform: rotate(320deg);
		}
	}
}
/* TOGGLE BUTTON - END */

/* FULLSCREEN NAV & ITEMS */
.fs-nav {
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	opacity: 0;
	visibility: hidden;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background-color: #000000;
	transition: 
		opacity 400ms,
		visibility 400ms;
	will-change: opacity, visibility;
	
	&--active {
		opacity: 1;
		visibility: visible;
	}
}

.fs-nav__item {
	margin-bottom: 1.5em;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	letter-spacing: 1px;
	color: #d4d4d4;
	text-decoration: none;
	opacity: 0;
	transform: translateY(-2em);
	transition: 
		opacity 200ms,
		transform 200ms;
	will-change: transform, opacity;
	
	&:hover {
		color: $btnColor;
	}
	
	&--active {
		opacity: 1;
		transform: translateY(0);
	}
}
/* FULLSCREEN NAV & ITEMS - END */
