



@media screen and (max-width: 450px) {
    .community{
        margin-bottom: 3em;
    
        h1 {
          font-size: 3em;
          font-family: clash display;
          font-weight: 500;
          margin-bottom: .7em;
          color: $hdColor;
        }
    
        .figma-works{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-direction: column;
            
            .fig {
                padding: 1em;
                border: 1px solid $textColor;
                margin-bottom: 2em;
                width: 100%;
    
                h1 {
                    font-size: 2em;
                    font-weight: 600;
                    margin-bottom: 2em;
                    color: $hdColor;
                    width: 100%;
                }
    
                p {
                    font-family: $smFont;
                    font-size: 1em;
                    margin-bottom: 1.4em;
                    width: 100%;
                }
                
                a {
                    width: 100%;
                    font-size: 1em;
                    color: $textColor;
                    font-weight: bold;
                }
            }
        }
    }
}